 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-php-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <!--
        <p>Optional blurb about coding would go here.</p>
      -->
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-windows8-original"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-docker-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-jetbrains-plain"></i>
      <!--
        <p>Optional blurb about tools would go here.</p>
      -->
    </div>
</div>
