<div class="user-details">
  <h1> Contact Me </h1>
  <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Name: <input type="text"name="sender-name" /></label>
    </p>
    <p>
      <label>Email: <input type="email" name="sender-email" /></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea></label>
    </p>
    <div data-netlify-recaptcha="true" class="user-details" style="margin: auto !important; text-align: center !important; margin: 5px auto !important;"></div>
    <p>
      <button type=”submit”>Say Hello</button>
    </p>
  </form>
</div>
